<div [ngClass]="{'hidden': showCapture}">
  <ack-webcam
    [facingMode] = "environment"
    [(ref)]   = "webcam"
    [options] = "options"
    (success) = "onCamSuccess()"
    (catch)   = "onCamError($event)"
  ></ack-webcam>
  <button mat-raised-button (click)="captureImage()">Ta bilde</button>
</div>
<div [ngClass]="{'hidden': !showCapture}">
  <canvas id="preview"></canvas>
  <button mat-raised-button (click)="discardImage()">Forkast</button>
  <button mat-raised-button (click)="submitImage()">Submit</button>
</div>
