<div style="position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 100px;
z-index: 10;" [ngClass]="{'hidden': showCapture || showSpinner}">

<ack-webcam [(ref)]="webcam" [options]="options" [facingMode]="facingMode" [useParentWidthHeight]="useParentWidthHeight"
        (success)="onCamSuccess()" (catch)="onCamError($event)" style="width: 100%; height: 100%;"></ack-webcam>
</div>

<div [ngClass]="{'hidden': !showCapture || showSpinner}">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <canvas fxFlex id="preview"></canvas>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="myButton" fxFill>
      <button mat-raised-button (click)="discardImage()">Forkast</button>
      <button mat-raised-button (click)="submitImage()">Send inn</button>
    </div>
  </div>
</div>

<div [ngClass]="{'hidden': !showSpinner}">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<nav class="bottom-nav">
  <button mat-fab color="warn"  (click)="captureImage()">
    <mat-icon>camera</mat-icon>
  </button>
</nav>
