@import '~material-bottom-nav';

.bottom-nav {
  height: 70px;
  @include bottom-nav(
    $background-color: #748996,
    $active-color: #ffffff,
    $inactive-color: #e0e0e0,
    $hide-inactive-labels: true
  );
}
.hidden {
  display: none;
}
.myButton {
  padding: 20px;
}
.myButton2 {
  margin: 20px;
}

.small-video {
  max-height: 170vh;
  width: 80vw;
  object-fit: contain;
}
::ng-deep video {
  max-height: 70vh;
  width: 100%;
  object-fit: contain;
}
.videoStyle {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  z-index: 10;
}
