@import '~material-bottom-nav';

.custom-button {
  position: fixed;
  right: 20px;
  bottom: 15px;
  z-index: 1000;
}

.total-score {
  text-align: right;
  margin-top: 10px;
  font-weight: 700;
}

.mat-column-name {
  flex: 1 0 auto;
}

.mat-column-score {
  display: flex;
  justify-content: flex-end;
}
