
<div class="page" fxLayout="column">

  <h1 class="mat-display-1">Score</h1>

  <div fxLayout="column">
    <div fxLayout="row">
      <div class="mat-body-1">PriceProgress</div>
      <div class="progressScore mat-body-1">{{totalScore}}/{{priceScore}}</div>
    </div>
    <mat-progress-bar mode="determinate" value="{{totalScore}}"></mat-progress-bar>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let score of scores">
      <div class="scoreEntryList" style="width:100%">
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <!--<mat-icon mat-list-icon>{{score.image}}</mat-icon>-->
          <div fxFill> {{score.name}} </div>
          <div> {{score.score}} </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <a mat-raised-button routerLink="/capture">Ta bilde</a>
</div>
